<template lang='pug'>
  div.q-ma-lg
    q-dialog(v-model='showDialog',transition-show='rotate',transition-hide='rotate')
      q-card.q-pa-lg
        q-card-section
          div.text-h6 {{detailData.user_name}}
        q-card-section(style='max-height:50vh;min-width:50vh')
            div.column.q-gutter-md
              q-field(dense)
                template(v-slot:prepend)
                  div.text-caption.full-width.no-outline 反馈内容：
                template(v-slot:control)
                  div.full-width.no-outline {{detailData.content}}
              q-input(dense)
                template(v-slot:prepend)
                  div.text-caption.full-width.no-outline 回复内容：
                template(v-slot:control)
                  div.full-width.no-outline {{detailData.content}}
        q-card-actions(right)
          q-btn(label='提交',size='xs',@click='onProcessedSubmit')
    q-table(
        flat,
        :data='data',
        :columns='columns',
        :loading='loading',
        @request='onRequest',
        :pagination.sync="paginationData",
        row-key='f_id')
          template(v-slot:top)
            div.row(style='width:100%')
              q-space
              q-input(outlined,dense,v-model='generalSearch',placeholder='搜索')
                template(v-slot:append)
                  q-icon(name='search')
              q-btn(label='搜索',color='secondary')
          template(v-slot:body="props")
            q-tr(:props='props')
              q-td(style='width:10px',key='f_id',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.f_id}}
              q-td(style='width:30px',key='user_name',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.user_name}}
              q-td(key='content',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.content}}
              q-td(key='processBtn',:props='props')
                template(v-slot:default)
                  q-btn(label='回复',size='xs',color='primary',@click='onProcessed(props.row)')
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'NotProcessed',
  data () {
    return {
      showDialog: false,
      detailData: {},
      generalSearch: '',
      loading: false,
      paginationData: {
        sortBy: 'f_id',
        descending: false,
        page: 1,
        rowsPerPage: 15,
        rowsNumber: 16
      },
      columns: [
        {
          name: 'f_id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'f_id',
          format: val => `${val}`,
          sortable: true
        },
        { name: 'user_name', align: 'center', label: '用户名', field: 'user_name' },
        { name: 'content', align: 'center', label: '反馈内容', field: 'content' },
        { name: 'processBtn', align: 'right', label: '' }
      ],
      data: []
    }
  },
  mounted () {
    this.loading = true
    this.getAllCountByIsReplied({ isReplied: false }).then(data => {
      console.log(data)
      this.paginationData.rowsNumber = data
      this.onRequest({
        pagination: this.paginationData,
        filter: undefined
      })
      this.loading = false
    }).catch(e => {
      console.log(e)
      this.loading = false
    })
  },
  methods: {
    ...mapActions('feedback', [
      'getAllNotProcessed',
      'getAllCountByIsReplied'
    ]),
    onRequest (props) {
      let { page, rowsPerPage, rowsNumber, descending, sortBy } = props.pagination
      // let filter = props.filter
      let limit = rowsPerPage === 0 ? rowsNumber : rowsPerPage
      let offset = (page - 1) * rowsPerPage
      this.loading = true
      this.getAllNotProcessed({ limit, offset }).then(data => {
        console.log(data)
        for (let i = 0; i < data.length; i++) {
          data[i].user_id = data[i].user.user_id
          data[i].user_name = data[i].user.user_name
        }
        this.data = data
        this.paginationData.page = page
        this.paginationData.rowsPerPage = rowsPerPage
        this.paginationData.sortBy = sortBy
        this.paginationData.descending = descending
        this.loading = false
        console.log(this.paginationData)
      }).catch(err => {
        this.loading = false
        console.log(err)
      })
    },
    onSelection (row) {
      // this.$q.loading.show()
      // this.getUsersDetailInfo({ userId: row.user_id }).then(data => {
      //   console.log(data)
      //   this.showDetail = true
      //   this.detailData = data
      //   this.$q.loading.hide()
      // }).catch(err => {
      //   console.log(err)
      //   this.$q.loading.hide()
      // })
    },
    onProcessed (row) {
      this.showDialog = true
      this.detailData = row
    },
    onProcessedSubmit () {
      this.$q.loading.show()
      this.showDialog = false
      this.detailData = {}
      this.$q.loading.hide()
    }
  }
}
</script>

<style>
</style>
