<template lang='pug'>
q-toolbar
  q-btn(flat,round,dense,icon='menu',@click='setOpenLeftDrawer')
  q-breadcrumbs(active-color='white').q-ml-md
    template(v-for='(item,index) in levelList')
      q-breadcrumbs-el(v-if='index===0',:icon='item.meta.icon',:label='item.meta.title',:to='item.path',:key='index')
      q-breadcrumbs-el(v-else,:label='item.meta.title',:to='item.meta.canRoute?item.path:""',:key='index')
  q-space
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Home',
  data () {
    return {
      levelList: []
    }
  },
  watch: {
    $route () {
      this.getBreadcrumb()
    }
  },
  created () {
    this.getBreadcrumb()
  },
  computed: {
  },
  methods: {
    ...mapActions('app', [
      'setOpenLeftDrawer'
    ]),
    getBreadcrumb () {
      let matched = this.$route.matched.filter(item => item.name)
      // const first = matched[0]
      // if (first && first.name !== 'dashboard') {
      //   matched = [{ path: '/dashboard', meta: { title: 'dashboard' } }].concat(matched)
      // }
      this.levelList = matched
      console.log(this.levelList)
    }
  }
}
</script>

<style>
</style>
