<template lang='pug'>
q-toolbar.bg-white.shadow-up-2
  q-tabs(v-model='tab',dense,indicator-color="transparent",active-color="white",active-bg-color='secondary')
    q-route-tab(:name='tag.name',:label='tag.title',v-for='(tag,i) in options',:key='i',:to='tag.path',@dblclick='onCloseSelectedTag(tag)')
    //- q-scroll-area.q-ma-xs.bg-grey-1(horizontal,style="height: 38px; width: 100%;" ref='scrollPane')
    //-   router-link(ref='tag',v-for='(tag,i) in options',:key='i',:to='tag.path',@contextmenu.prevent.native='optnMenu(tag.$event)') {{tag.title}}
    //-     span(@click.prevent.stop='closeSelectedTag(tag)')

</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'TagsView',
  data () {
    return {
      tab: ''
    }
  },
  computed: {
    ...mapGetters('app', [
      'visitedViews'
    ]),
    options: {
      get () {
        return this.visitedViews
      },
      set () {

      }
    }
  },
  watch: {
    $route () {
      this.addVisitedViews(this.$route)
      this.moveToCurrentTag()
    }
  },
  methods: {
    ...mapActions('app', [
      'addVisitedViews',
      'delVisitedViews'
    ]),
    isActive (route) {
      return route.path === this.$route.path && route.name === this.$route.name
    },
    moveToCurrentTag () {
      const tags = this.$refs.tag
      if (tags) {
        this.$nextTick(() => {
          for (let i = 0; i < tags.length; i++) {
            let tag = tags[i]
            if (tag.to === this.$route.path) {
              this.$refs.scrollPane.setScrollPosition(i * 400)
            }
          }
        })
      }
    },
    onCloseSelectedTag (tag) {
      this.delVisitedViews(tag).then(views => {
        if (this.isActive(tag)) {
          const latestView = views.slice(-1)[0]
          if (latestView) {
            this.tab = latestView.name
            this.$router.push(latestView.path)
          } else {
            this.$route.push('/')
          }
        }
      })
    }
  }
}
</script>

<style>
</style>
